<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Mobile Testing Suite" parallel="false" thread-count="1" verbose="1">
    
    <test name="Simple Tests" preserve-order="true">
        <classes>
            <class name="basictest.SimpleTest">
                <methods>
                    <include name="testSimple"/>
                    <include name="testEnvironmentVariables"/>
                    <include name="testFrameworkVersion"/>
                </methods>
            </class>
        </classes>
    </test>
    
</suite>
